---
# Ansible Playbook: Provision LNT Device Host
# This playbook sets up a device host for LNT testing infrastructure

- name: Provision LNT Device Host
  hosts: lnt_device_hosts
  become: yes
  vars:
    usbip_port: 3240
    log_directory: /var/log/lnt
    image_storage: /opt/lnt/images
    lnt_user: lnt
    lnt_group: lnt

  tasks:
    - name: Ensure LNT user exists
      user:
        name: "{{ lnt_user }}"
        group: "{{ lnt_group }}"
        shell: /bin/bash
        create_home: yes
        groups: dialout,plugdev

    - name: Create LNT directories
      file:
        path: "{{ item }}"
        state: directory
        owner: "{{ lnt_user }}"
        group: "{{ lnt_group }}"
        mode: '0755'
      loop:
        - "{{ log_directory }}"
        - "{{ image_storage }}"
        - /opt/lnt/scripts
        - /opt/lnt/config

    - name: Install required packages
      package:
        name:
          - usbip
          - usbutils
          - python3
          - python3-pip
          - python3-serial
          - screen
          - minicom
        state: present

    - name: Enable USBIP kernel modules
      modprobe:
        name: "{{ item }}"
        state: present
      loop:
        - usbip-core
        - usbip-host
        - usbip-vudc

    - name: Enable USBIP service
      systemd:
        name: usbipd
        enabled: yes
        state: started

    - name: Configure USBIP daemon
      template:
        src: usbipd.conf.j2
        dest: /etc/usbipd.conf
        owner: root
        group: root
        mode: '0644'
      notify: restart usbipd

    - name: Set up serial port permissions
      lineinfile:
        path: /etc/udev/rules.d/99-serial-permissions.rules
        line: "KERNEL==\"ttyUSB[0-9]*\", MODE=\"0666\", GROUP=\"{{ lnt_group }}\""
        create: yes

    - name: Reload udev rules
      command: udevadm control --reload-rules
      changed_when: false

    - name: Install Python dependencies
      pip:
        name:
          - pyserial
          - requests
        state: present
        executable: pip3

    - name: Create USBIP mount script
      template:
        src: usbip_mount.sh.j2
        dest: /opt/lnt/scripts/usbip_mount.sh
        owner: "{{ lnt_user }}"
        group: "{{ lnt_group }}"
        mode: '0755'

    - name: Create USBIP unmount script
      template:
        src: usbip_umount.sh.j2
        dest: /opt/lnt/scripts/usbip_umount.sh
        owner: "{{ lnt_user }}"
        group: "{{ lnt_group }}"
        mode: '0755'

    - name: Create serial log capture script
      template:
        src: serial_log_capture.sh.j2
        dest: /opt/lnt/scripts/serial_log_capture.sh
        owner: "{{ lnt_user }}"
        group: "{{ lnt_group }}"
        mode: '0755'

    - name: Configure log rotation
      copy:
        content: |
          {{ log_directory }}/*.log {
            daily
            rotate 7
            compress
            delaycompress
            missingok
            notifempty
            create 0644 {{ lnt_user }} {{ lnt_group }}
          }
        dest: /etc/logrotate.d/lnt
        owner: root
        group: root
        mode: '0644'

  handlers:
    - name: restart usbipd
      systemd:
        name: usbipd
        state: restarted

